* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.light__is-active{
    background: #FFEEEE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DDEFBB, #FFEEEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
.dark__is-active{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1c1b1b, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1c1b1b, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all 0.3s ease;
}


.light__is-active .card__content h1{
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: unset;  
}

.dark__is-active .card__content h1{
    padding: 15px;
    text-align: center;
    font-size: 45px;   
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: unset;

}


.card__container{    
    display: flex;
    justify-content: center;
    margin-top: 25vh; 

}

.card__content{
    width: 800px;
    height: 350px;
    text-align: justify;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.477);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card__content h1{
    padding: 15px;
    text-align: center;
    font-size: 45px;   
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: unset;

}

.card__content h2{
    font-size: 35px;
    padding: 10px;
    text-align: center;
    color: black;
}
.dark__is-active .card__content h2{
    color: #ccc;
}

 
.social {
    font-size: 3rem;
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px; 
}

.fa-linkedin{
    color: blue;
}

.fa-github{
    color: black;
}
.dark__is-active .fa-github{
    color: #ccc;
}

.fa-instagram{
    color: indigo;
}
.toggle__button{
    display: flex;
    gap: 5px;
    position: absolute;
    top: 5%;
    right: 5%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px;
   
   
}
.dark__toggle{
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: black;
    color: #ccc;
    cursor: pointer;
    transition: all 0.3s ease;
}


@media screen and (max-width: 960px){
    .card__content{
        width: 800px;
        height: 400px;
    }

    .card__content h1{
        font-size: 45px;
        padding: 10px;
        text-align: center;   
    } 
    .card__content h2{
        font-size: 40px;
        padding: 15px;
    }

    .social {
        font-size: 3rem;
        padding: 10px;       
        margin-top: 10px;
        justify-content: center;
    }
    
}
@media screen and (max-width: 768px){
    .card__content{
        width: 700px;
        height: 350px;
    }

    .card__content h1{
        font-size: 40px;
        padding: 10px;
        text-align: center;
        color: #ccc;    
    } 
    .card__content h2{
        font-size: 35px;
        padding: 10px;
    }

    .social {
        font-size: 3rem;
        padding: 10px;       
        margin-top: 10px;
        justify-content: center;
    }
    
}
@media screen and (max-width: 480px){
    .card__container{
        margin-top: 15vh;
    }
    .card__content{
        width: 400px;
        height: 450px;
    }

    .card__content h1{
        font-size: 40px;
        padding: 10px;
        text-align: center;
        color: #ccc;    
    } 
    .card__content h2{
        font-size: 35px;
        padding: 10px;
    }

    .social {
        font-size: 2.5rem;
        padding: 10px;       
        margin-top: 10px;
        justify-content: center;
    }
    
}
