@charset "UTF-8";

.bkg__image {
    /* width: auto; */
    background: url('image/pexels-aksonsat-uanthoeng-1078850.jpg') no-repeat center;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

.text {
    font-size: 50vh;
    text-align: center;
    color: rgba(0, 0, 0, 0.521);
    /* text-shadow: 10px rgb(0, 0, 0); */
    padding: 0;
    margin: 0 auto;
}